
<div class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      <button class='navbar-toggle' data-target='.navbar-collapse' data-toggle='collapse' type='button'> <span class='glyphicon glyphicon-list'></span> </button>
      <a class='navbar-brand' href='/project-tracker'>AngularJS Demonstration</a> </div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li> <a href='#/headlines'>Headlines</a> </li>
        <li> <a href='#/news'>All News</a> </li>
        <li> <a href='#/news/new'>Post</a> </li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li> <a href="#/logout" rel="nofollow">Logout</a> </li>
      </ul>
    </div>
  </div>
</div>
<!--Top nav bar ends here -->

<div class="row">
  <div class="col-md-8">
    <h1>Post an update</h1>
    <form  ng-submit="saveNews()">
    	<div class="form-group">
        	<input type="text" class="form-control" ng-model="newsupdate.title" placeholder="News Title"  required />
      	</div>
        <div class="form-group">
        	<textarea class="form-control" ng-model="newsupdate.description" placeholder="Description"  required ></textarea>
      	</div>
        <div class="form-group">
        	<button type="submit" class="form-control btn btn-primary">Save</button> 
      	</div>
    </form>
  </div>
  <div class="col-md-4">
  	<h3>Headlines</h3>
    <ul>
      <li ng-repeat="new in news">
        <a href="{{ new.link }}"><h5>{{ new.name }}</h5></a>
      </li>
    </ul>
    <h3>Newsletter</h3>
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-info" placeholder="Email ID" type="button">Subscribe</button>
      </span>
    </div><!-- /input-group -->
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3"> </div>
</div>
